<!DOCTYPE html>
<!--[if IE 8]> 				 <html class="no-js lt-ie9" lang="en" > <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js" lang="en" > <!--<![endif]-->

<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Foundation Compass Stack</title>

  <meta name="author" content="tF Media">
	<meta name="description" content="">
	<meta name="keywords" content="">

	
	<!-- CSS -->
	<link rel="stylesheet" href="{{assets}}/css/app.css" />
	<link rel="stylesheet" href="{{assets}}/css/styles.css" />
	<!-- end CSS -->

	<!-- Fonts -->
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans:regular,bold" type="text/css" />
	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Serif:regular,bold" type="text/css" />

	<!-- Favicon -->
  	

	<!-- All JavaScript at the bottom, except for Modernizr. -->
	<script src="{{assets}}/js/modernizr.js"></script>
	
</head>