		<!-- Header -->
		<header>	

			<div class="row">
				<div class=" logo large-6 columns">
					<a href="{{ url:base }}">
						{{ theme:image file="pyroFoundation5.png" }}
					</a>
				</div>
			
				<div class="logo large-6 columns">
					<h4 class="text-right">{{ settings:site_name }}</h4>
				</div>
			</div>
			
		<!-- Navigation -->
			<div class="row">
				<div class="large-12 columns">

			<!-- <div class="contain-to-grid"> -->

					<!-- Top-Bar -->
					<div class="nav-wrap">
					<nav class="top-bar" data-topbar="">
					  <ul class="title-area">

					  	<!-- Title Area -->
					    <li class="name">
					     <h1>Page Title</h1>
					    </li>

							<!-- Mobile Menu -->
					    <li class="toggle-topbar menu-icon"><a href="#"><span>Menu</span></a></li>
					  </ul>

						<!-- Nav Link Section -->
					  <section class="top-bar-section">
					    <ul class="right">
					      <li><a href="#">Home</a></li>
					      <li><a href="#">About</li>
					      	<ul class="dropdown">
					      		<li><a href="#">Drop Down</a></li>
					      	</ul>
					      <li><a href="#">Blog</li>
					    </ul>
					  </section>
					</nav>
					</div>

				</div>
			</div>
		<!-- /Navigation -->

		</header>
		<!-- /Header -->